* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

body {
  background-color: #2B2B2B;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 15px 0px;
  background-color: #2B2B2B;
}
.header__shrink {
  box-shadow: 0px 0px 10px skyblue;
  background-color: #2B2B2B;
}
.header__btn-hamburger {
  width: 20px;
  background-color: transparent;
  color: white;
  border: none;
}
.header__logo {
  font-size: 24px;
  font-weight: 600;
}
.header__logo img {
  height: 25 px;
}
.header__list {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  background-color: #2B2B2B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  box-shadow: 0px 0px 10px skyblue;
  transition: 0.3s;
}
.header__list .header__item__desc {
  padding: 8px 0px;
  color: white;
}
.header__list .header__item__desc:hover {
  color: #A259FF;
}
.header__list .header__btn {
  width: 130px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 15px 25px;
  border: none;
  background-color: #A259FF;
  border-radius: 20px;
  color: white;
  transition: 0.3s;
}
.header__list .header__btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px grey;
}
.header__list-show {
  left: 0;
}
@media (min-width: 950px) {
  .header .header__list {
    position: static;
    flex-direction: row;
    box-shadow: none;
    height: auto;
    width: auto;
  }
  .header .header__btn-hamburger {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero__title {
  font-size: 67px;
  color: white;
}
.hero__desc {
  font-size: 22px;
  color: white;
}
.hero__cards {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
}
.hero__cards .hero__card {
  width: 150px;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__cards .hero__card h1 {
  font-size: 28px;
  color: white;
}
.hero__cards .hero__card h2 {
  font-size: 22px;
  color: white;
}
.hero__left {
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
}
.hero__left .hero__btn-show {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #A259FF;
  padding: 15px 25px;
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
}
.hero__left .hero__btn-show:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
}
.hero__right {
  order: 1;
  width: 100%;
}
.hero__right img {
  width: 100%;
  max-height: 300px;
}

@media (min-width: 300px) {
  .hero__title {
    font-size: 30px;
  }
  .hero__desc {
    font-size: 22px;
    margin-top: 10px;
  }
}
@media (min-width: 700px) {
  .hero {
    flex-direction: row;
  }
  .hero__left {
    order: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 15px;
  }
  .hero__right {
    order: 2;
    width: 50%;
  }
  .hero__right img {
    max-height: 450px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__desc {
    font-size: 14px;
  }
  .hero .hero__card h1 {
    font-size: 20px;
  }
  .hero .hero__card h2 {
    font-size: 18px;
  }
}
@media (min-width: 1050px) {
  .hero__title {
    font-size: 67px;
  }
  .hero__desc {
    font-size: 22px;
  }
  .hero .hero__card h1 {
    font-size: 28px;
  }
  .hero .hero__card h2 {
    font-size: 24px;
  }
}
.products {
  padding: 30px 0px;
  margin-top: 50px;
}
.products .top__creatos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.products .top__creatos h2 {
  order: 1;
  color: white;
  font-size: 20px;
}
.products .top__creatos p {
  order: 2;
  font-size: 16px;
  color: white;
  padding: 0px 30px 0px 0px;
}
.products .top__creatos button {
  order: 3;
  width: 170px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  border: 2px solid #A259FF;
  background-color: transparent;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  transition: 0.3s;
}
.products .top__creatos button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
}
.products__cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
}
.products__card {
  width: 240px;
  height: 278px;
  border-radius: 20px;
  display: flex;
  background-color: #3B3B3B;
}
.products__card__img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.products__card__img h1 {
  color: white;
}
.products__card__img p {
  color: white;
}
.products__card__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
.products__card__img .number {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2B2B;
  color: #858584;
}
.products__card__title {
  font-size: 22px;
  padding: 10px 0px;
}
.products__card__desc {
  font-size: 16px;
}
.products__card__desc span {
  color: #858584;
  padding: 0px 5px;
}
.products__card__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 500px) {
  .products__card {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  .products .top__creatos .products__title {
    color: white;
    font-size: 34px;
  }
  .products .top__creatos p {
    font-size: 22px;
    color: white;
    padding: 15px 30px 0px 0px;
  }
  .products button {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    border: none;
    background-color: #A259FF;
    border-radius: 20px;
    font-size: 16px;
    color: white;
  }
  .products__card {
    width: 32%;
  }
}
@media (min-width: 1500px) {
  .products__cards {
    justify-content: start;
  }
  .products__card {
    width: 24%;
  }
}
.collection {
  margin-top: 100px;
}
.collection__title {
  font-size: 38px;
  color: white;
}
.collection__desc {
  font-size: 22px;
  color: white;
}
.collection__cards {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.collection__card {
  display: flex;
  flex-direction: column;
}
.collection__card .collection__card__title {
  font-size: 22px;
  color: white;
  padding: 10px 0px;
}
.collection__card .avatar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.collection__card .avatar p {
  color: white;
}

@media (min-width: 35px) {
  .collection__title {
    text-align: center;
  }
  .collection__desc {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .collection__title {
    text-align: center;
  }
  .collection__desc {
    text-align: center;
  }
  .collection__card {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .collection__cards {
    display: flex;
    justify-content: space-between;
  }
  .collection__card {
    width: 30%;
  }
}
.catigories {
  height: auto;
}
.catigories__title {
  padding: 40px 0px;
  color: white;
}
.catigories__cards {
  height: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.catigories__card {
  position: relative;
  width: 147px;
  height: auto;
  border-radius: 20px;
  background-color: #3B3B3B;
}
.catigories__card:hover .catigories__card__icon {
  transform: scale(1);
}
.catigories__card img {
  width: 100%;
  height: auto;
}
.catigories__card .catigories__card__icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.034);
  cursor: pointer;
  transform: scale(0);
  transition: 0.4s;
}
.catigories__card .catigories__card__icon img {
  width: 70px;
  height: 70px;
}
.catigories__card h1 {
  color: white;
  font-size: 22px;
  padding: 20px 30px;
}

@media (min-width: 300px) {
  .catigories__card {
    width: 100%;
  }
  .catigories__card h1 {
    font-size: 18px;
  }
}
@media (min-width: 500px) {
  .catigories__card {
    width: 45%;
  }
  .catigories__card h1 {
    font-size: 18px;
  }
}
@media (min-width: 650px) {
  .catigories__card {
    width: 45%;
    height: auto;
  }
  .catigories__card h1 {
    font-size: 18px;
  }
}
@media (min-width: 876px) {
  .catigories__card {
    width: 45%;
    height: auto;
  }
  .catigories h1 {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .catigories__card {
    width: 30%;
    height: auto;
  }
  .catigories__card h1 {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .catigories__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catigories__card {
    width: 22%;
    height: auto;
  }
  .catigories__card h1 {
    font-size: 22px;
  }
}
.discover {
  height: auto;
}
.discover__about {
  width: 100%;
  height: 95px;
  margin-top: 70px;
}
.discover__about button {
  display: none;
  transition: 0.3s;
}
.discover__about button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
}
.discover__item__title {
  color: white;
  font-size: 28px;
  font-weight: 600;
  order: 1;
}
.discover__item__desc {
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0px;
}
.discover__btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px 30px;
  display: flex;
  gap: 7px;
  align-items: center;
  border: 2px solid #A259FF;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  order: 5;
}
.discover__cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.discover__card {
  width: 100%;
  height: auto;
  background-color: #3B3B3B;
  border-radius: 20px;
}
.discover__card img {
  width: 100%;
}
.discover__card h1 {
  font-size: 22px;
  color: white;
  padding: 20px 0px 7px 20px;
}
.discover__card__avatar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0px 20px;
}
.discover__card__avatar p {
  color: white;
  font-size: 16px;
}
.discover__card__avatar img {
  width: 24px;
}
.discover__card__price {
  display: flex;
  justify-content: space-between;
}
.discover__card__price .left p {
  font-size: 12px;
  padding: 10px 20px;
  color: #858584;
}
.discover__card__price .left h3 {
  padding: 0px 20px 20px 20px;
  color: white;
  font-size: 12px;
}
.discover__card__price .right p {
  font-size: 12px;
  padding: 10px 20px;
  color: #858584;
}
.discover__card__price .right h3 {
  padding: 0px 20px 20px 20px;
  color: white;
  font-size: 12px;
}

@media (min-width: 768px) {
  .discover__about {
    display: flex;
    align-items: center;
  }
  .discover__about .discover__btn {
    display: flex;
    margin: 10px 0px;
  }
  .discover__cards {
    display: grid;
    grid-template-columns: auto auto;
  }
  .discover__card:nth-child(3) {
    display: none;
  }
  .discover__btn {
    display: none;
  }
}
@media (min-width: 1050px) {
  .discover__about {
    display: flex;
    align-items: center;
  }
  .discover__about .discover__btn {
    display: flex;
    margin: 10px 0px;
  }
  .discover__cards {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .discover__card:nth-child(3) {
    display: block;
  }
}
.magic {
  height: 500px;
  background-image: url(../images/magic.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.magic__info {
  width: 80%;
}
.magic__info h1 {
  font-size: 38px;
  color: white;
}
.magic__info button {
  display: none;
}
.magic__date {
  width: 80%;
  border-radius: 20px;
  height: 144px;
  background-color: rgba(155, 155, 155, 0.7019607843);
  -webkit-backdrop-filter: 5px;
          backdrop-filter: 5px;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.magic__date span {
  padding: 0px 5px;
}
.magic__date p {
  font-size: 12px;
  color: white;
  padding: 10px 0px;
}
.magic .date__item {
  display: flex;
  gap: 20px;
}
.magic__btn {
  width: 90%;
  padding: 15px 30px;
  display: flex;
  gap: 7px;
  align-items: center;
  border: 2px solid #A259FF;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.3s;
}
.magic__btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
}

@media (min-width: 576px) {
  .magic {
    height: 600px;
  }
}
@media (min-width: 768px) {
  .magic {
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px 50px 0px;
  }
  .magic__btn {
    display: none;
  }
  .magic__info h1 {
    font-size: 38px;
    padding: 10px 0px;
  }
  .magic__info button {
    width: auto;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1050px) {
  .magic {
    height: 700px;
  }
}
@media (min-width: 1200px) {
  .magic {
    height: 850px;
    padding: 300px 80px 0px;
  }
}
.works {
  height: 685px;
  margin-top: 60px;
}
.works__title {
  font-size: 28px;
  color: white;
}
.works__desc {
  font-size: 16px;
  color: white;
  padding: 10px 0px;
}
.works__cards {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-rows: 3, 1fr;
  row-gap: 20px;
}
.works__card {
  width: 100%;
  background-color: #3B3B3B;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.works__card h2 {
  color: white;
  font-size: 16px;
  padding: 5px 0px;
}
.works__card p {
  color: white;
  font-size: 12px;
  padding: 0px 2% 0px 0px;
}

@media (min-width: 650px) {
  .works__title {
    font-size: 30px;
  }
  .works__desc {
    font-size: 18px;
  }
  .works__card h2 {
    font-size: 18px;
  }
  .works__card p {
    font-size: 14px;
  }
}
@media (min-width: 900px) {
  .works {
    height: auto;
  }
  .works__cards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
  .works__card {
    display: flex;
    flex-direction: column;
  }
  .works__card .card__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works__card .card__info p {
    padding: 5px 20px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .works__card .card__info h2 {
    font-size: 30px;
  }
  .works__card .card__info p {
    font-size: 24px;
    padding: 5px 20px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .works__card .card__info h2 {
    font-size: 34px;
  }
  .works__card .card__info p {
    font-size: 26px;
    padding: 5px 20px;
    text-align: center;
  }
}